.analysis-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 42.3mm; /* 160px */
}

.analysis-img {
  width: 58.3mm; /* 220px */
  min-width: 58.3mm; /* 220px */
  height: 42.3mm; /* 160px */
  background-color: black;
}

.analysis-info-box {
  display: flex;
  flex-direction: column;
  margin-left: 3.7mm; /* 14px */
  padding: 1.1mm 0; /* 4px 0 */
}

.analysis-status {
  font-size: 3.5mm; /* 13px */
  font-weight: 500;
  color: black;
  font-family: Pretendard;
}

.analysis-description {
  font-size: 3.5mm; /* 13px */
  font-weight: 400;
  color: black;
  margin-top: 2.1mm; /* 8px */
  font-family: Pretendard;
}

.analysis-img-container {
  position: relative;
}

.roi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.recommend-warning {
  font-size: 2.7mm; /* 10px */
  font-weight: 400;
  color: rgb(102, 102, 102);
  font-family: Pretendard;
  margin-top: 2.1mm; /* 8px */
}
