.cover-title-highlight {
  font-size: 8.8mm; /* 34px */
  font-weight: bold;
  color: rgb(0, 108, 224);
  font-family: Pretendard;
}

.cover-title-normal {
  font-size: 8.8mm; /* 34px */
  font-weight: bold;
  color: black;
  font-family: Pretendard;
}

.cover-hospital-name {
  font-size: 4.7mm; /* 18px */
  font-weight: bold;
  color: black;
  font-family: Pretendard;
}

.cover-footer {
  position: absolute;
  left: 0;
  bottom: 5.2mm; /* 20px */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 7.8mm; /* 30px */
}

.cover-background {
  width: 100%;
  height: auto;
}

.cover-footer-text {
  font-size: 3.7mm; /* 14px */
  color: #9e9e9e;
  font-family: Pretendard;
}

.cover-logo {
  width: 32mm;
  height: 7mm;
}
