@import "./common.css";
@import "./print.css";
@import "./templates.css";
@import "./components/cover.css";
@import "./components/table.css";
@import "./components/input.css";
@import "./components/analysis.css";

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  height: fit-content;
  line-height: 120%;
}
