@import "./common.css";
@import "./print.css";
@import "./templates.css";
@import "./components/cover.css";
@import "./components/table.css";
@import "./components/input.css";
@import "./components/analysis.css";
@import "./tailwind.css";

/* CSS 변수 정의 */
:root {
  /* A4 용지 크기 */
  --a4-width: 210mm;
  --a4-height: 297mm;

  /* A4 패딩 */
  --a4-padding-top: 8mm;
  --a4-padding-bottom: 8mm;
  --a4-padding-left: 10.5mm;
  --a4-padding-right: 10.5mm;

  /* A4 콘텐츠 영역 */
  --a4-content-width: calc(
    var(--a4-width) - var(--a4-padding-left) - var(--a4-padding-right)
  );
  --a4-content-height: calc(
    var(--a4-height) - var(--a4-padding-top) - var(--a4-padding-bottom)
  );

  /* 페이지 간격 */
  --page-gap: 2.7mm;

  /* 리포트 컨트롤러 너비 */
  --patient-report-controller-width: 440px;
  --all-report-controller-width: 790px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 브라우저 기본 스크롤 제거 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

// 높이 설정이 없으면 자식의 콘텐츠 높이만큼만 확장. PrintPage는 높이가 가변적이기 때문에 100%로 설정하여 뷰포트 높이만큼 확장.
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  height: fit-content;
  line-height: 120%;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
