@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-width: 240px;
  --nav-collapsed-width: 85px;
  --header-height: 63px;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  height: fit-content;
  line-height: 120%;
}

/* 자동 완성 배경 제거, 성능 이슈 주의 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}
