@import "./print/layout.css";
@import "./print/print.css";
@import "./print/table.css";
@import "./print/input.css";

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  height: fit-content;
  line-height: 120%;
}

table {
  border-collapse: unset;
  text-indent: initial;
  border-spacing: 0px;
}
