/* Header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4.2mm; /* 16px */
  border-bottom: 0.3mm solid black;
  font-family: Pretendard;
}

.header-hospital-name {
  font-size: 4.7mm; /* 18px */
  font-weight: bold;
  font-family: Pretendard;
}

.header-logo {
  width: 21.5mm; /* 82px */
  height: 4.7mm; /* 18px */
}

/* A4 프린트 미리보기 스타일 */
.print-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

/* A4 Template */
.a4-container {
  width: var(--a4-width);
  min-width: var(--a4-width);
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  flex-shrink: 0; /* 크기 축소 방지 */
}

.a4-page {
  width: var(--a4-width);
  min-width: var(--a4-width);
  height: var(--a4-height);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 프린트 화면에서 미표시 */
  position: relative;
  overflow: hidden;
  flex-shrink: 0; /* 크기 축소 방지 */
}

.a4-content {
  padding: var(--a4-padding-top) var(--a4-padding-right)
    var(--a4-padding-bottom) var(--a4-padding-left);
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: inherit;
}

/* A4 Page Number */
.page-number-container {
  position: absolute;
  bottom: 4.7mm; /* 18px */
  left: 50%;
  transform: translateX(-50%);
}

.page-number {
  font-size: 3.2mm; /* 12px */
  font-weight: 500;
  color: #9e9e9e;
  font-family: Pretendard;
}

/* Numbered List */
.numbered-list {
  font-size: 4.2mm; /* 16px */
  font-weight: bold;
  margin: 6.8mm 0 3.2mm; /* 26px 0 12px */
  font-family: Pretendard;
}

/* Report Register */
.report-register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.report-print-page {
  width: calc(100% - var(--option-container-width));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--option-container-width);
}

.report-option-container {
  position: fixed;
  right: 0;
}

/* 
 * 반응형 스타일
 * A4 너비 미만일 때 프린트 화면 정렬 필요
 */
@media screen and (max-width: 210mm) {
  .print-preview-container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .a4-container {
    margin: 0;
  }
}

@media print {
  .a4-page {
    box-shadow: none;
  }

  .a4-container {
    gap: 0;
  }
}
